.container {
  margin: 0;
  padding: 0;
  display: flex;
}

.aside {
  background: #e45201;
  width: 20%;
  height: 100dvh;
  border-right-style: inset;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.aside h1 {
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
}

.aside span {
  color: #fff;
  background: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.aside ul {
  padding: 0;
  margin: 0;
}

.aside li {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.75rem;
  color: #fff;
}

.aside img {
  width: 1rem;
  margin-right: 0.5rem;
}

.content {
  padding: 2rem;
  width: 100%;
}

.content h1 {
  margin-top: 2rem;
  margin-bottom: 0;
}

.content hr {
  border-style: ridge;
  width: 100%;
}

.content_input {
  width: 18rem;
  height: 2rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.cardCoin {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 1rem;
  width: 6rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cardCoin p {
    margin: 0;
    font-size: 0.75rem;
}

.cardCoin ul {
    margin: 0;
    padding: 0;
}

.cardCoin img {
  width: 2rem;
}

.cardCoin li {
  list-style: none;
}

.cardCoin:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}
